body{
	width: 90%;
	margin: 0 auto;
	background: #4A5154;
	color: DarkSlateGray;
	font-family: 'Istok Web', sans-serif;
	font-size: 1em;
}
#top{
	background:#43734A;
	padding: 0.417em;
	border-width: 0.250em;
	border-radius: 0.417em;
	margin-bottom: 0.5em;
}
#navbar{
	text-align: center;
}
#navbar li{
	display: inline-block;
	margin: 0 4%;
	border-width: 0;
	border-style: solid;
}
#sitenav{
	font-family: 'Nova Flat', cursive;
	text-align: center;
}
#sitenav li{
	display: inline-block;
	margin: 1%;
}
ul{
	list-style-type: none;
}
#middle p{
	padding: 2%;
}
h1{
	/*---the line underneath is in shorthand---*/
	font: normal normal bold 3em/1 Nova Flat;
	color: rgb(166,162,109);
	text-shadow: -0.083em 0.083em 0.250em #000000;
	text-align: center;
	text-transform: uppercase;
}
h2{	
	/*---color is represented in RGB format and is underlined---*/
	color: rgb(166,162,109);
	font-family: 'Nova Flat', cursive;
	text-shadow:-0.083em 0.083em 0.250em #000;	
	padding: 0% 0% 0% 1%;
}
.one{
	overflow: auto;
	background-color:#43734A;
	border-style: outset;
	border-color: #9E9A93;
	border-radius: 0.417em;
	margin: 1%;
}
.two{
	overflow: auto;
	background-color:#43734A;
	border-style: outset;
	border-color: #9E9A93;
	border-radius: 0.417em;
	margin: 1%;
}
.three{
	overflow: auto;
	background-color:#43734A;
	border-style: outset;
	border-color: #9E9A93;
	border-radius: 0.417em;
	margin: 1%;
}
.four{
	overflow: auto;
	background-color:#43734A;
	border-style: outset;
	border-color: #9E9A93;
	border-radius: 0.417em;
	margin: 1%;
	clear: right;
}
blockquote{
	float: left;
	width: 33.33%;
	font-weight: normal;
	font-style: italic;
	color: white;
	border-top: 0.083em solid rgb(166,162,109);
	border-bottom: 0.083em solid rgb(166,162,109);
}
#philosophy{
	clear: left;
}
#footer{
	overflow: auto;
	background-color:#43734A;
	border-style: outset;
	border-color: #9E9A93;
	border-radius: 0.417em;
	margin: 1%;
	/*---The Google web font "Istok Web" is applied here---*/
	color: DarkSlateGray;
	font-family: 'Nova Flat', cursive;
	font-style: italic;
}
	/*---These are the CSS pseudo-classes---*/
a:link{
	color: rgb(166,162,109);
	text-decoration: none;
}
a:visited{
	color: white;
}
a:hover{
	color: DarkCyan;
	text-decoration: underline;
}
a:active{
	color: black;
}