body{
	background-color: #43734A;
}
h1{
	font: normal normal bold 32pt/1 Nova Flat;
	color: rgb(166,162,109);
	/*font-family: 'Nova Flat', cursive;*/
	text-shadow: -1px 1px 3px #000000;
	/*font-size: 250%;*/
	text-align: center;
	text-transform: uppercase;
}
h2{
	color: rgb(166,162,109);
	font-family: 'Nova Flat', cursive;
	text-shadow:-1px 1px 3px #000;
	text-decoration: underline;	
}
blockquote{
	font-weight: normal;
	font-style: italic;
}
a{
	color: #191970;
}
p, ol{
	color: DarkSlateGray;
	font-family: 'Istok Web', sans-serif;
}
ol{
	background-color: hsl(10, 46%, 72%);
	opacity: 0.5;
	font-style: italic;
}
